﻿@page "/"
@inject BookService BookService

<h3>Book List</h3>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Category</td>
                <td>
                    <button class="btn btn-primary" @onclick="()=>EditBook(book)">Edit</button>
                    <button class="btn btn-danger" @onclick="()=> DeleteBook(book.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Add/Edit Book</h3>
<div class="form">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" @bind="currentbook.Title" />
    </div>
    <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" class="form-control" id="author" @bind="currentbook.Author" />
    </div>
    <div class="form-group">
        <label for="category">Category:</label>
        <select class="form-control" id="category" @bind="currentbook.Category">
            <option value="Fiction">Fiction</option>
            <option value="Non-Fiction">Non-Fiction</option>
            <option value="Science Fiction">Science Fiction</option>
        </select>
    </div>
    <button class="btn btn-success" @onclick="SaveBook" style="margin-top:25px;">Save</button>
</div>

@code {
    List<Book> books = new List<Book>();
    Book currentbook = new Book();

    protected override void OnInitialized()
    {
        books = BookService.GetBooks();
    }

    void EditBook(Book book)
    {
        currentbook = book;
    }

    void SaveBook()
    {
        if (currentbook.Id == 0)
        {
            BookService.AddBook(currentbook);
        } else
        {
            BookService.UpdateBook(currentbook);
        }

        currentbook = new Book();
        books = BookService.GetBooks();
    }

    void DeleteBook(int bookId)
    {
        BookService.DeleteBook(bookId);
        books = BookService.GetBooks();
    }
}
